@import 'styles/theme';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $sans;
  background-color: $white;
}

h1,  a {
  font-family: $cursive;
}
h2, h3, h4, h5, h6, p, button {
  font-family: $sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 31px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: $grey-dk;
  letter-spacing: .3px;
  font-family: $sans;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
 columns: $complementary;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 65px;
  }
  
  h2 {
    font-size: 55px;
  }
  
  h3 {
    font-size: 45px;
  }
  
  h4 {
    font-size: 35px;
  }
  
  h5 {
    font-size: 28px;
  }
  
  h6 {
    font-size: 24px;
  }
  
  p {
    font-size: 19px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 90px;
  }
  
  h2 {
    font-size: 75px;
  }
  
  h3 {
    font-size: 60px;
  }
  
  h4 {
    font-size: 42px;
  }
  
  h5 {
    font-size: 35px;
  }
  
  h6 {
    font-size: 26px;
  }
  
  p {
    font-size: 20px;
  }
}

